amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
defusedxml==0.4.1
Django==1.9.5
django-braces==1.8.1
django-debug-toolbar==1.4
django-filter==0.13.0
django-oauth-toolkit==0.10.0
django-push-notifications==1.4.1
django-redis-cache==1.6.5
djangorestframework==3.3.3
djangorestframework-jwt==1.7.2
geopy==1.11.0
httpsig==1.1.2
kombu==3.0.35
Markdown==2.6.6
oauthlib==1.0.3
Pillow==3.2.0
psycopg2==2.6.1
pycrypto==2.6.1
PyJWT==1.3.0
python-social-auth==0.2.14
python3-openid==3.0.10
pytz==2016.4
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
rest-social-auth==0.4.2
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.1.19
stream-django==1.2.6
stream-python==2.3.5
