<div class="layout-row layout-center-v layout-center h-100-p bg-positive">
    <div class="w-400 t-center">
        <h1 class="m-l-40-0">Takk for at du registrerte en bruker</h1>
        <p class="big">
            For å kunne logge inn må du bekrefte epost-adressen din. Dette gjør du ved å følge linken sendt til den epost-adressen du benyttet til å registere brukeren.
        </p>
        <button (click)="sendNewMail()" class="button-md button-action button-rounded">Send bekreftelse på nytt</button>
    </div>
</div>